<h1>Edit Book</h1>

Title: <input type="text" id="txtTitle" value="{{title}}"><br/>
Paperback: <input type="text" id="txtPage" value="{{page}}"><br/>
Language: <input type="text" id="txtLanguage" value="{{language}}"><br/>
ISBN: <input type="text" id="txtISBN" value="{{isbn}}"><br/>
Dimensions: <input type="text" id="txtDimension" value="{{dimension}}"><br/>
Description: <input type="text" id="txtDescription" value="{{description}}"><br/><br/>

<button id="btnCancel">Cancel</button>
<button id="btnSave">Save</button>
